node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
server.log
*.log

# SSL Keys / Certificates (never commit real ones)
*.pem
*.crt
*.key

.DS_Store
Thumbs.db

*.tmp
*.swp
*.bak

start.html

.vscode/
.idea/

*.zip
